.headimg
{     
    height: 280px;
    width: 101%;
    margin-left: -10px;
    margin-top: -10px;
}

.header
{
    
    text-align: center;
}
.headtext
{
    text-align: center;
    margin: 30px;
    margin-bottom: 15px;
    margin-left: 16%;
}


.links
{
    width: 15%;
    border-right: solid #c4c3c0 3px;
    border-top: solid #c4c3c0 3px;
    left: 15px;
    position: sticky;
    float: left;  
    
    
    font-size: 20px;
    margin-bottom: 10px;
     
}

.main-content
{
    margin-left: 16%;
    text-align: center;
}

.toc
{
    list-style-type: none;
    font-size: 20px;
    margin: 30px;
    padding: 35px;
    border-bottom: solid #c4c3c0 3px;
    
}

.lcont
{
    margin-bottom: 10px; 
    font-size: 30px;
}

.perhead.trahead.prohead
{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.Personal
{
    font-size: 20px;
    font-weight: 400;
    border-bottom: #c4c3c0 solid 3px;
    padding: 5px;
}

.Professional
{
    font-size: 20px;
    font-weight: 400;

}

.protable
{
    margin: 0 auto;
    
}

table, th, tr
{
    border-bottom: black solid 2px;
}

.proend
{
    border-bottom: #c4c3c0 solid 3px;
}

.travel
{
    font-size: 20px;
    font-weight: 400;
}

.tralist
{
    list-style-type: none;
}


.footer
{
    color: black;
    background-color: #c4c3c0;
}

.hippo
{
    margin-left: 16%;
    text-align: center;
}




