.headimg
{     
    height: 280px;
    width: 101%;
    margin-left: -10px;
    margin-top: -10px;
}

.header
{
    
    text-align: center;
}
.headtext
{
    text-align: center;
    margin: 30px;
    margin-bottom: 15px;
    margin-left: 16%;
}

body
{
    background: linear-gradient(to right, #BDF79C 15.76%, white 15.76% 100%);
   

}

a:link
{
    color: #0f4bb3;
}

a:visited
{
    color: #86847E;
}

.links
{
    width: 15%;
    left: 15px;
    float: left;  
    font-size: 20px;          
}

.sideimg
{
    max-width: 99%;
}

.main-content
{
    margin-left: 16%;
    text-align: center;
}

.promain
{
    margin-left: 16%;
    text-align: center;
}

.toc
{
    list-style-type: none;
    font-size: 20px;
    margin: 30px;
    padding: 35px;
  
    
}

.lcont
{
    margin-bottom: 10px; 
    font-size: 30px;
}

.perhead .trahead
{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.Personal
{
    font-size: 20px;
    font-weight: 400;
    
    padding: 5px;
}

.perend
{
    border-bottom: #c4c3c0 solid 3px;
}

.Professional
{
    font-size: 20px;
    font-weight: 400;

}

.protable
{
    margin: 0 auto;
    
}

table, th, tr
{
    border-bottom: black solid 2px;
}

.proend
{
    border-bottom: #c4c3c0 solid 3px;
}

.travel
{
    font-size: 20px;
    font-weight: 400;
}

.tralist
{
    list-style-type: none;
}


.hippo
{
    margin-left: 16%;
    text-align: center;
}

/*Professional page styling starts here*/

.proimgh
{
    max-width: 100%;
    max-height: 500px;
    margin-left: 22%;
}
ul
{
    list-style-position: inside;
}

.prodetail
{
    font-size: 20px;
    font-weight: 400;
}

.prosubhead
{
    font-size: 24px;
    
}

.prohead 
{
    font-size: 24px;
}

